{% extends "base.html.twig" %}

{% block body %}
    {% for project in projects %}
        <h4>{{ project.organization }}/{{ project.name }}
            <small><a href="{{ path('project_check', {'projectUuid': project.uuid}) }}">Check</a></small>
        </h4>
        <ul>
        {% for check in project.checks %}
            <li>{{ check.wasSuccessful ? "success" : "failed" }} - {{ check.finishedAt|date }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
