{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-5">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Project details</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table no-margin">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ project.organization ~ '/' ~ project.name }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td class="text-{{ lastCheck.wasSuccessful ? 'success' : 'danger' }}">{{ lastCheck.wasSuccessful ? 'Healthy' : 'Sick' }}</td>
                    </tr>
                    <tr>
                        <th>Tracked since</th>
                        <td>{{ project.importedAt | date }}</td>
                    </tr>
                    <tr>
                        <th>Connection</th>
                        <td><i>{{ project.connectionInfo.driver }}</i> at <i>{{ project.connectionInfo.host }}</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Last check</h3>
            </div>
            <div class="box-body">
                {% if lastCheck.wasSuccessful %}
                    No vulnerabilities were found on {{ lastCheck.finishedAt | date }} <span
                        class="fa fa-check text-success"></span>
                {% else %}
                    {{ lastCheck.vulnerabilities|length }} vulnerable {{ lastCheck.vulnerabilities|length > 1 ? "packages were found" : "package was found" }} on {{ lastCheck.finishedAt | date }}

                    <table class="table">
                        <tbody>
                        {% for package,details in lastCheck.vulnerabilities %}
                            <tr>
                                <td>{{ package }} {{ details.version }}</td>
                                <td>
                                    <ul>
                                        {% for cve in details.advisories %}
                                            <li><a href="{{ cve.link }}">{{ cve.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Historical count of vulnerable packages</h3>
            </div>
            <div class="box-body">
                <canvas id="package-history" width="100%" height="30"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('build/charts.js') }}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script>
        var ctx = document.querySelector("#package-history").getContext('2d');

        function extractLabels(chartData) {
            return chartData.map(function (row) {
                return row.t;
            })
        }

        function initChart(chartData) {
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: extractLabels(chartData),
                    datasets: [{
                        data: chartData
                    }],
                },
                options:
                    {
                        legend: {
                            display: false,
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    round: 'day',
                                    unit: 'day'
                                },
                                display: true,
                            }],
                            yAxes: [{
                                type: 'linear',
                                ticks: {
                                    stepSize: 1,
                                    beginAtZero: true,
                                },

                            }]
                        }
                    }
            });
        }

        fetch('{{ path('project_chart', {uuid: project.uuid}) }}')
            .then(function (response) {
                return response.json()
            })
            .then(function (json) {
                initChart(json)
            })

    </script>
{% endblock %}

